body {
	background-color: #fff;
	font-family: Calibri, Arial;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
	border-top: 1px dashed #000;
	padding-top: 5px;
	margin-top: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

article > p:nth-of-type(1) {
	font-style: italic;
	font-weight: bold;
}